* {
    margin: 0;
    padding: 0;
}

input:not(input[type="file"]) {
    padding: 7px 14px;
    border: solid 1px lightgray;
    border-radius: 5px;
    outline: none;
}

input[type="button"],
input[type="submit"] {
    background-color: rgba(0, 0, 0, 0);
}

input[type="submit"] {
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 1);
}

#firstname {
    margin-right: 5px;
}

#url {
    border-radius: 5px 0 0 5px;
}

#username {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

#btn-profile {
    height: 2.3em;
}

#input-area-file .input-group {
    gap: 5px;
}

.btn-group {
    display: flex;
    gap: 5px;
}

.btn-group#first {
    margin-bottom: 60px;
}

#bottom-group {
    position: absolute;
    bottom: 30px;
    width: calc(100% - 30px);
    padding: 0 15px;
}

.btn-group#first {
    justify-content: flex-end;
}

.input-area {
    display: grid;
    grid-template-columns: 120px auto;
    padding: 15px 0;
    border-bottom: solid 1px lightgray;
}

#input-container>.input-area:first-child {
    border-top: solid 1px lightgray;
}

.input-group {
    display: flex;
}

#input-area-name .input-group>input,
#input-area-username .input-group>input {
    width: 50%;
}

input[type="email"] {
    width: 100%;
}

#bottom-group {
    display: flex;
    justify-content: space-between;
}

#btn-delete>input[type="button"] {
    color: red;
    border: none;
    background-color: rgba(245, 208, 208, 0.54);
}

#root {
    width: 100vw;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/abstract-landscape-background-traditional-japanese-themed-watercolour-style_1048-16449.jpg?t=st=1732582843~exp=1732586443~hmac=82ed3474c5a11aafd6f73bb90aaa86b229b29e04e5434ad62935e98643f8c77d&w=740");
    background-size: cover;
    background-position: center;
}

#modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal>form {
    position: relative;
    width: 400px;
    height: 600px;
    border: solid 3px white;
    border-radius: 16px;
    background-color: white;
    margin: calc(100vh/2 - 300px) auto;
}

#profile {
    position: absolute;
    top: 40px;
    left: 15px;
}

#profile-img {
    width: 80px;
    aspect-ratio: 1/1;
    border: solid 2px white;
    border-radius: 42px;
    background-color: lightgray;
}

#preview-img {
    width: 40px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
}

#background-box {
    height: 80px;
    border-radius: 16px 16px 0 0;
    background-color: whitesmoke;
}

#form-content {
    padding: 15px;
}

.icon-button {
    position: relative;
}

.icon-button>input[type="button"] {
    padding-left: 27px;
}

.icon-img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 1.2em;
    height: 1.2em;
}

#btn-link>.icon-img {
    background-image: url("https://icons.veryicon.com/png/o/miscellaneous/foundation-icon-5/link-86.png");
    background-size: contain;
    scale: 85%;
}

#btn-delete>.icon-img {
    background-image: url("https://www.svgrepo.com/show/21045/delete-button.svg");
    background-size: contain;
    scale: 75%;

    /* 블랙 색상을 레드로 변경 */
    filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(-50deg);
}